.cards-container {
  background-color: #e1e1e1;
  width: fit-content;
  padding: 6px 13px;
  border-radius: 0.8rem;
  overflow: auto;
  width: 300px;
  .follow-cards {
    margin: 0 15px 0;
    img {
      border-radius: 50%;
      width: 50px;
    }
    a {
      p {
        font-size: 0.9rem;
        color: #5c5c5c;
      }
    }
  }
}
.paginate-container {
  .paginate-btn {
    margin: 0 10px;
    cursor: pointer;
  }
  .active {
    background: #3c5e89 !important;
    color: #fff;
    border-radius: 10px;
    padding: 3px;
  }
  .follower-ended {
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #5c5c5c;
      transition: all 0.3s;
    }
  }
}
