.repository-container {
  .repository-card {
    border-bottom: 1px solid silver;
    margin: 10px 5px;
    .name {
      display: flex;
      align-items: center;
      margin: 5px;
      .badge {
        color: #e4e4e4;
        background-color: #4e4e4e;
        border-radius: 90px;
        padding: 1px 5px;
        margin: 0 15px;
        font-size: 0.8rem;
      }
      a {
        font-size: 1.5rem;
        color: #264b9c;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .desc,
    .lang,
    .update {
      font-size: 0.9rem;
      color: #5e5e5e;
    }
    .update {
      margin-bottom: 10px;
    }
  }
}
