// preloader
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
// styles
@import "mainPage";
@import "userProfile";
@import "repository";
@import "global/fonts";
@import "global/reset";
