// Bootstrap
@import "~bootstrap/scss/bootstrap";
// preloader
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
// styles
@import "components/mainPage";
@import "components/userProfile";
@import "components/repository";
@import "components/paginate";
@import "global/fonts";
@import "global/reset";
@import "global/preloader";
